:css
  .comment_box {
    width: 27.2em;
    height: 6em;
    border-radius: 3px;
    border: 1px #b6b6b3 solid;
  }
= simple_form_for(@collection, defaults: { input_html: { class: 'documents_form' } }) do |f|
  - if @collection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@collection.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.input :name, placeholder: 'Name'
    %label{ :class =>"string ", :for=>"description"} Description
    = f.text_area :description, placeholder: 'Description', class: 'comment_box block'
  .form-actions
    %br
    = f.button :submit, :class => 'btn btn-info special_text'
