%div{:class => 'save_section', :id => 'save_section_element_' + locals[:section_id].to_s}
  %b-button{'v-b-toggle.collapse-' + locals[:section_id].to_s => true, :variant=>"outline-dark", :class=>"table_contents_header", :style =>'box-shadow: 0 0 0 0;'}
    Add Section to Collection
    %span.when-opened
      %i.fas.fa-chevron-down
    %span.when-closed
      %i.fas.fa-chevron-right

  %b-collapse{:id=>"collapse-" + locals[:section_id].to_s, :class=>"collection_box"}
    - if @collections.length == 0
      %div{:class => ''}
        = link_to 'Create Collection', new_collection_path, :class => "btn"
    - else
      - @collections.each do |collection|
        %div{:class => ''}
          = form_tag(save_section_path, method: :post, :remote => true, :format=>:js) do
            = hidden_field_tag :document_id, locals[:document_id]
            = hidden_field_tag :section_uid, locals[:section_uid]
            = hidden_field_tag :collection, collection.name
            = submit_tag(value = collection.name, class: "btn btn-outline-dark collection_btn", :style => 'border-radius: 0px;')