%div
  = form_tag(save_path, method: :post, :remote => true) do
    = hidden_field_tag :document_id, locals[:document_id]
    = hidden_field_tag :section_number, locals[:section_number]
    = hidden_field_tag :query, locals[:query]
    = hidden_field_tag :save_type, locals[:save_type]
    -#= section.page_number == nil ? number = 0 : number = section.page_number
    - if @collections.length == 0
      = select_tag :collection, content_tag(:option,'no collections',:value=>"")+options_from_collection_for_select(@collections, 'name', 'name'), class: "form-control"
      = link_to 'Create Collection', new_collection_path, :class => "btn btn-default right_button"
    - else
      = select_tag :collection, options_from_collection_for_select(@collections, 'name', 'name'), class: "form-control"
      - locals[:save_type] == 'query' ? cstr = "btn btn-default" :  cstr = "btn btn-default right_button"
      = submit_tag(value = 'Add ' + locals[:save_type].titleize + ' to Collection', class: cstr)