%div{:class => "centre"}
  %h3
    Collection:
    = @collection.name

  %h4 Queries:
  -@queries.each do |query|
    %div{:class => 'queries_grid'}
      - params = ActiveSupport::JSON.decode(query.query)
      - params['keyword'].each_key do |key|
        %div{:class => 'query'}
          %span{:class => 'title'}
            -if params['query_type'][key][0] == 'weak_language'
              = 'Language - Weak Matching:'
            -elsif params['query_type'][key][0] == 'medium_language'
              = 'Language - Medium Matching:'
            -elsif params['query_type'][key][0] == 'strong_language'
              = 'Language - Strong Matching:'
            -else
              =params['query_type'][key][0] +':'
        %div{:class => 'filter'}
          =params['filter_type'][key][0] + ':'
        %div{:class => 'field'}
          -params['keyword'][key].each do |word|
            =word


    = link_to 'Run Query', advanced_path(params), :class => "btn btn-default"
    = link_to 'Delete', query, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"
  %br
  %br

  %h4 Sections:
  = link_to 'Export Sections', export_path(id: @collection.id , export_type: 'collection'), :class => "btn btn-info"

  %div{:class => "results_grid"}
    - @sections.each do |section|
      %div{:class => 'section_content'}
        %h4= section.section_number
        %h4= section.section_name

      %div{:class => 'section_information', :style => 'height: 110px;'}
        = section.document.country
        %br
        = section.document.year
        %br
        = section.document.cycle.ordinalize + ' cycle'
        %br
        = Document::DOCUMENT_TYPES[section.document.document_type]
        %br
        Page Number:
        = section.page_number

      %div{:class => 'language_span'}
        - section.language_sections&.sort_by(&:strength)&.each do |relation|
          %div{:class => 'language_box strength_' + relation.strength.to_s, }
            = @languages[relation.language_id-1]
      %div
        = simple_format(section.content)
      %div{:class => "right_box"}
        - section.page_number == nil ? number = 0 : number = section.page_number
        = link_to 'Jump to Page', section.document.url + '#page=' +  number.to_s, :class => "btn btn-default right_button", target: :_blank
        %br
        = link_to 'Remove from Collection', remove_collection_path(section_number: section.section_number,document_id: section.document.id , id: @collection.id), :class => "btn btn-default right_button button_spacing"
        %br
        = link_to 'Jump to First Page', section.document.url, target: '_blank', :class => "btn btn-default right_button btn-xs button_spacing", target: :_blank
        %br
        %div{:class => "save_form"}
          = render 'collections/save_section',  locals: {section_number: section.section_number, document_id: section.document.id , collections: @collections}

%div{:id => 'sticky', :class => "btn btn-primary"}
  Jump to Top