%div{:class => "centre"}
  %h3
    Collection:
    = @collection.name

  %h4 Queries:
  -@queries.each do |query|
    %div{:class => 'queries_grid'}
      - params = ActiveSupport::JSON.decode(query.query)
      - params['keyword'].each_key do |key|
        %div{:class => 'query'}
          %span{:class => 'title'}
            -if params['query_type'][key][0] == 'weak_language'
              = 'Language - Weak Matching:'
            -elsif params['query_type'][key][0] == 'medium_language'
              = 'Language - Medium Matching:'
            -elsif params['query_type'][key][0] == 'strong_language'
              = 'Language - Strong Matching:'
            -else
              =params['query_type'][key][0] +':'
        %div{:class => 'filter'}
          =params['filter_type'][key][0] + ':'
        %div{:class => 'field'}
          -params['keyword'][key].each do |word|
            =word


    = link_to 'Run Query', submit_search_path(params), :class => "btn btn-default"
    = link_to 'Delete', query, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"
  %br
  %br

  %h4 Sections:
  = link_to 'Export Sections', export_path(id: @collection.id , export_type: 'collection'), :class => "btn btn-info"

  %div{:class => "results_grid"}
    - @sections.each do |section|
      = render 'shared/section_display', locals: {display_type: 'collections#show', section: section }
%div{:id => 'sticky', :class => "btn btn-primary"}
  Jump to Top