%div{:class => "centre"}
  %div{:class => "gap1"}
  %h1= @collection.name
  %div{:class => "gap1"}
  %h3 Description:
  %p= @collection.description
  %div{:class => "gap1"}
  %h3 Query:
  -@queries.each do |query|
    %div{:class => 'query_card'}
      - params = ActiveSupport::JSON.decode(query.query)
      = render 'shared/query_display', locals: {query: params['query'], query_id: query.id, collection: @collection, languages: @vue_languages, countries: @countries, report_types: @report_types}
      = button_to 'Delete Query', query, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-warning btn-delete_query"


  %div{:class => "gap1"}
  %h3 Sections:
  %div{:class => "gap1"}
  %div{:class => "document_header_grid"}
    -# filter box options
    %div{:class => "action"}
      = link_to 'Export Sections', export_path(id: @collection.id , export_type: 'collection'), :class => "btn btn-info width_block special_text"
  %div{:class => "gap1"}


  %div
    - @sections.each do |section|
      = render 'shared/section_display', locals: {display_type: 'collections#show', section: section }
%b-button{:id => 'sticky', :class => "btn btn-info"}
  %a{:href => '#', :style => 'color: white;'}Jump to Top