%div{:class => "centre"}
  %div{:class => 'gap1'}
  %h1{:class => "main_title"} Listing Admins
  %br
  %div{:class => "user_grid"}
    - alternating = true
    - @admins&.each do |admin|

      %div{:class => alternating ? 'alternating name' : 'name'}= admin&.name
      %div{:class => alternating ? 'alternating email' : 'email'}= admin.email
      %div{:class => alternating ? 'alternating admin_button' : 'admin_button'}= link_to('Convert Admin to User', convert_to_user_user_path(admin),{:onclick => "return confirm('Are you sure?')"})
      %div{:class => alternating ? 'alternating delete' : 'delete'}= button_to('Delete Admin', admin, {:onclick => "return confirm('Are you sure?')", :method => :delete, :form_class => 'select_child_delete_document_button'})
      - alternating ? alternating = false : alternating = true
  %div{:class => 'gap1'}
  %h1{:class => "main_title"} Listing Users
  %br
  %div{:class => "user_grid"}
    - alternating = true
    - @users&.each do |user|
      %div{:class => alternating ? 'alternating name' : 'name'}= user&.name
      %div{:class => alternating ? 'alternating email' : 'email'}= user.email
      %div{:class => alternating ? 'alternating admin_button' : 'admin_button'}= link_to('Convert User to Admin', convert_to_admin_user_path(user), {:onclick => "return confirm('Are you sure?')"})
      %div{:class => alternating ? 'alternating delete' : 'delete'}= button_to('Delete User', user, {:onclick => "return confirm('Are you sure?')",:method => :delete,  :form_class => 'select_child_delete_document_button'})
      - alternating ? alternating = false : alternating = true