-#= locals[:display_type]
- section = locals[:section]

%div{:class => 'section_content'}
  - section.article_paragraph ? text = section&.article_paragraph : text = '-'

  %h4= section.section_name == 'Full Content' ? '-' : 'Section Number: ' + section.section_number + ' | ' + 'Article and Paragraph: ' + text
  %h4= section.section_name

%div{:class => 'section_information'}
  - if locals[:display_type] == 'collections#show'
    = section.document.country
    %br
    = section.document.year
    %br
    = section.document.cycle.ordinalize + ' cycle'
    %br
    = Document::DOCUMENT_TYPES[section.document.document_type]

%div{:class => 'language_span'}
  - section.language_sections&.sort_by(&:strength)&.each do |relation|
    %div{:class => 'language_box strength_' + relation.strength.to_s, }
      = @languages[relation.language_id-1]
%div
  = simple_format(section&.content)
%div{:class => "right_box"}
  - section.page_number == nil ? number = 0 : number = section.page_number
  = link_to 'Jump to Page ' + number.to_s, section.document.url + '#page=' +  number.to_s, :class => "btn btn-default right_button", target: :_blank
  %br
  - if locals[:display_type] == 'collections#show'
    = link_to 'Remove from Collection', remove_collection_path(section_uid: section.section_uid,document_id: section.document.id , id: @collection.id), :class => "btn btn-default right_button button_spacing"
    %br
  = link_to 'Export XML', export_path(section_uid: section.section_uid ,document_id: section.document.id , export_type: 'section'), :class => "btn btn-default right_button button_spacing"
  %br
  = link_to 'Jump to First Page', section.document.url, target: '_blank', :class => "btn btn-default right_button btn-xs", target: :_blank
  %br
  = link_to 'Report Section Problem', new_user_ticket_path(:document_id => section.document.id, :section_uid => section.section_uid), :class => "btn btn-default right_button btn-xs button_spacing", target: :_blank
  %br

  %div{:class => "save_form"}
    - if user_signed_in? or admin_signed_in?
      - @collections = current_signed_in.collections
      = render 'collections/save_section',  locals: {section_uid: section.section_uid, document_id: section.document.id , collections: @collections}
