%div{:class => "box form"}
  %center
    %h1 Welcome to the Seeker Project
    %br
    = form_tag search_path, method: :get, target: '_blank' do
      - @available_queries.each do |query|
        = hidden_field_tag 'available_queries', query, class: 'available_queries', disabled: true
      %table#search_form
        %tr
          %td{ colspan: 3 }= text_field_tag :q, nil, style: "width:100%", placeholder: 'Search...'
      %br
      = link_to 'Add more filters', '#', id: 'add_old_search'
      %br
      %br
      = submit_tag 'Search documents'

