= simple_form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
  = f.input :url, placeholder: 'URL of document', label: false, wrapper_html: { class:'broken' }
  = f.input :country_id, placeholder: 'Country of Origin', as: :select, include_blank: false, collection: @countries, wrapper_html: { style: 'text-align: center' }
  = f.input :document_type, placeholder: 'Document type', as: :select, include_blank: false, collection: @document_types, wrapper_html: { style: 'text-align: center' }
  = f.input :year, placeholder: 'Year', label: false, wrapper_html: { class:'broken' }
  = f.input :cycle, placeholder: 'Cycle (1, 2, 3, ...)', label: false, wrapper_html: { class:'broken' }

  .actions
    = f.submit 'Save'
