%h1 Advanced Search
%br
= form_tag advanced_search_path, method: :get do
  %table#advanced_search_form
    %tr
      %td
      %td= select_tag 'query[]', options_for_select(@available_queries)
      %td= text_field_tag 'keyword[]', nil, size: 30
  = link_to 'Add New Search Criteria', '#', id: 'add_search'
  = submit_tag 'Search documents'
