%div{:class => "centre"}
  %h1 Editing sections
  - full_section = nil
  - @sections.each do |section|
    -if section.section_name != 'Full Content'
    -else
      - full_section = section
  %h4 Full Content
  %div{:class => 'fixed_height_scroll'}= full_section.content
  %h4 Sections
  = form_tag update_section_separation_document_path, method: :post do
    %div{:style => "  display: grid; grid-template-columns:1fr 3fr 1fr;", :id => 'sections_box'}
      - count = 0
      - @sections.each do |section|
        -if section.section_name != 'Full Content'
          %div{:class => count}
            section number
            %br
            = text_field_tag 'section_number[]', section.section_number
            %br section name
            = text_field_tag 'section_name[]', section.section_name
            %br page number
            = text_field_tag 'page_number[]', section.page_number
          %div{:class => count}
            = text_area_tag 'content[]', section.content, :class =>'edit_section_box'
          %div{:class => count}
            language
            = select_tag 'language[]', options_from_collection_for_select(@languages, :id, :name, section.language_id), include_blank: true, :class => 'form-control'
            - unless section.full_content?
              = link_to 'Delete Section', '#', class: 'delete_section', id: count, data: { confirm: 'Are you sure? All unsaved changes will be lost' }
          - count = count + 1
    %div{:class => 'remove_submit'}= submit_tag 'Save sections'
  %div= link_to 'Add New Section', '#', id: 'add_section'
  %div= link_to 'Cancel Editing', documents_path, data: { confirm: 'Are you sure? All unsaved changes will be lost' }


%div{:id => 'sticky', :class => "btn btn-primary"}
  Jump to Top