%div{:class => "centre"}
  %h1 Editing document

  = simple_form_for @document, defaults: { input_html: { class: 'block' } } do |f|
    - if @document.errors.any?
      #error_explanation
        %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
        %ul
          - @document.errors.full_messages.each do |msg|
            %li= msg
    %h3
      = link_to 'Original Document', @document.url, target: '_blank'
    = f.input :country_id, placeholder: 'Country of Origin', as: :select, include_blank: false, collection: @countries, input_html: { class: 'form-control ', style: "width: auto;" }
    = f.input :document_type, placeholder: 'Document type', as: :select, include_blank: false, collection: @document_types, input_html: { class: 'form-control ', style: "width: auto;" }
    = f.input :year, placeholder: 'Year'
    = f.input :cycle, placeholder: 'Cycle (1, 2, 3, ...)'
    %div{:class => "actions form-action-padding"}
      = f.submit 'Save'
