%div{:class => "centre"}
  %div{:class => "gap1"}
  %h1 All Documents
  %div{:class => "document_header_grid"}
    -# filter box options
    %div{:class => "action"}
      = link_to 'New Document', new_document_path, {:class => "btn btn-info width_block special_text", :id => ''} if current_user&.admin?
  %div{:class => "gap1"}

  -#users do not see unparsed documents or actions, and may not be signed in (& saftey)
  %div{:class => current_user&.admin? ? "documents_grid" : "documents_users_grid"}
    %div{:class => "country"}
      %h4 Country
    %div{:class => "type"}
      %h4 Type
    %div
      %h4 Cycle
    %div
      %h4 Year
    %div
      %h4 View
    - if current_user&.admin?
      %div
        %h4 Parse Status
      %div
        %h4 Actions
    -# alternate the colours of country rows for clarity
    - alternating = true
    - @grouped_documents.each do |country, documents|
      - country_row = true
      - documents.sort_by{ |doc| [doc.document_type, doc.cycle, doc.year] }.each do |document|
        - if current_user&.admin?
          - if country_row
            %div{:class => alternating ? 'alternating' : ''}= country
            - country_row = false
          - else
            %div{:class => alternating ? 'alternating' : ''}
          %div{:class => alternating ? 'alternating type' : 'type'}= Document::DOCUMENT_TYPES[document.document_type]
          %div{:class => alternating ? 'alternating' : ''}= document.cycle
          %div{:class => alternating ? 'alternating' : ''}= document.year
          %div{:class => alternating ? 'alternating' : ''}
            = link_to 'Original Document', document.url, target: '_blank'
            %br
            - if document.status == 2
              = link_to 'View Sectioning', document_path(document)
          - if document.status == 2
            %div{:class => alternating ? 'alternating' : ''}Completed
          - elsif document.status == 1
            %div{:class => alternating ? 'alternating' : ''}Failed. Contact Administrator
          - else
            %div{:class => alternating ? 'alternating' : ''}In Progress
          %div{:class => alternating ? 'alternating' : ''}
            = button_to 'Delete Document', document, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %br
            = link_to 'Edit Metadata', edit_document_path(document)
            %br
            - if document.status == 2
              = link_to 'Edit Sections', edit_section_separation_document_path(document)
        - else
          - if document.status == 2
            - if country_row
              %div{:class => alternating ? 'alternating country' : 'country'}= country
              - country_row = false
            - else
              %div{:class => alternating ? 'alternating' : ''}
            %div{:class => alternating ? 'alternating type' : 'type'}= Document::DOCUMENT_TYPES[document.document_type]
            %div{:class => alternating ? 'alternating' : ''}= document.cycle
            %div{:class => alternating ? 'alternating' : ''}= document.year
            %div{:class => alternating ? 'alternating' : ''}
              = link_to 'Original Document', document.url, target: '_blank'
              %br
              = link_to 'View Sectioning', document_path(document)
      - alternating ? alternating = false : alternating = true


