%h1 Listing documents

- grouped_documents = @documents.group_by(&:country)

%table{ border: 1 }
  %thead
    %tr
      %th Country
      %th Type
      %th Cycle
      %th Year
      %th Parsing Status
      %th Actions

  %tbody
    - grouped_documents.each do |country, documents|
      - country_row = true
      - documents.sort_by{ |doc| [doc.document_type, doc.cycle, doc.year] }.each do |document|
        %tr
          - if country_row
            %td{ rowspan: documents.count }= country
            - country_row = false
          %td= Document::DOCUMENT_TYPES[document.document_type]
          %td= document.cycle
          %td= document.year
          %td= document.parsing_finished ? 'v' : '-'
          %td
            = link_to 'Edit Sections', edit_section_separation_document_path(document)
            = link_to 'Delete Document', document, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Document', new_document_path
