%div{:class => "centre"}
  %div{:class => "gap1"}
  %h1 Query Results
  %div{:class => "gap1"}
  - if user_signed_in?
    %div{:class => 'save_query_container'}
      = render 'queries/save_query',  locals: {query: ActiveSupport::JSON.encode(params) , collections: @collections}

  %div
    - if @search_results.blank?
      %div{:class => 'result'}
        = "There's no results matching your query."
        %br
        = link_to 'Please check whether the documents possibly containing your query are indexed in the system.', documents_path
        %br
        = "Contact the administrator if you believe there is a problem."
    - else
      - @search_results.each do |section, details|
        = render 'shared/section_display', locals: {display_type: 'documents#search_results', section: section, details: details }

      = will_paginate(@search_results)
