%div{:class => "centre"}
  %h1 Document information
  -# slight extra divs hacky hack to deal with the grid
  %div{:class => "document_grid"}
    %div
      %h4 URL:
    %div= link_to @document.url.to_s, @document.url, target: :_blank
    %div= link_to 'Report Document Problem', new_user_ticket_path(:document_id =>@document.id), :class => "btn btn-warning", :style => "color: #000000d4"
    %div
      %h4 country:
    %div{:class => "info"}= @document.country
    %div= link_to 'Delete Document', @document, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger", :style => "color: #000000d4"
    %div
      %h4 type:
    %div{:class => "info"}= Document::DOCUMENT_TYPES[@document.document_type]
    %div
    %div
      %h4 cycle:
    %div{:class => "info"}= @document.cycle
    %div
    %div
      %h4 year:
    %div{:class => "info"}= @document.year

  %h1 Sectioning
  %div{:class => "results_grid"}
    - full_section = nil
    - @sections.each do |section|
      -if section.section_name != 'Full Content'
        %div{:class => 'section_content'}
          %h4= section.section_number
          %h4= section.section_name

        %div{:class => 'section_information'}
          Page Number:
          = section.page_number
        %div{:class => 'language_span'}
          - section.language_sections&.sort_by(&:strength)&.each do |relation|
            %div{:class => 'language_box strength_' + relation.strength.to_s, }
              = @languages[relation.language_id-1]
        %div
          = simple_format(section.content)
        %div{:class => "right_box"}
          - section.page_number == nil ? number = 0 : number = section.page_number
          = link_to 'Jump to Page', @document.url + '#page=' +  number.to_s, :class => "btn btn-default right_button", target: :_blank
          %br
          = link_to 'Export XML', export_path(section_uid: section.section_uid ,document_id: @document.id , export_type: 'section'), :class => "btn btn-default right_button button_spacing"
          %br
          = link_to 'Jump to First Page', @document.url, target: '_blank', :class => "btn btn-default right_button btn-xs", target: :_blank
          %br

        - full_section = section
    %div{:class => 'section_content'}
      %h4= '-'
      %h4= "Full Content"
    %div{:class => 'section_information'}
      Page Number: 1
      %br
      No Language
    %div{:class => 'language_span'}
      - full_section&.language_sections&.sort_by(&:strength)&.each do |relation|
        %div{:class => 'language_box strength_' + relation.strength.to_s, }
          = @languages[relation.language_id-1]
    %div
      = simple_format(full_section&.content)
    %div{:class => "right_box"}
      = link_to 'Jump to First Page', @document.url , :class => "btn btn-default right_button", target: :_blank
      %br
      = link_to 'Export XML', export_path(section_uid: full_section.section_uid ,document_id: @document.id , export_type: 'section'), :class => "btn btn-default right_button button_spacing"
      %br

%div{:id => 'sticky', :class => "btn btn-primary"}
  Jump to Top