%div{:class => "centre"}
  %h1 Document information
  -# slight extra divs hacky hack to deal with the grid
  %div{:class => "document_grid"}
    %div
      %h4 URL:
    %div= @document.url
    %div= link_to 'Report Document Problem', new_user_ticket_path(:document_id =>@document.id), :class => "btn btn-default"
    %div
      %h4 country:
    %div{:class => "info"}= @document.country
    %div
    %div
      %h4 type:
    %div{:class => "info"}= Document::DOCUMENT_TYPES[@document.document_type]
    %div
    %div
      %h4 cycle:
    %div{:class => "info"}= @document.cycle
    %div
    %div
      %h4 year:
    %div{:class => "info"}= @document.year

  %h1 Sectioning
  %div{:class => "document_grid"}
    - @sections.each do |section|
      -if section.section_name != 'Full Content'
        %div{:class => "section_info"}
          %h5
            = section.section_number
          %h5
            = section.section_name
          %h5
            Page Number:
            = section.page_number
          %h5
            -# TODO: fix this travesty
            = section.language_id != nil ? @languages[section.language_id].name : 'No Language'
        %div= section.content
        %div{:class => "section_buttons"}
          - section.page_number == nil ? number = 0 : number = section.page_number
          = link_to 'Jump to Page', @document.url + '#page=' +  number.to_s, :class => "btn btn-default right_button"
          = link_to 'Report Section Problem', new_user_ticket_path(:document_id =>@document.id, :section_number => section.section_number), :class => "btn btn-default right_button"
          %br
          %br
          = link_to 'Export', export_path(section_number: section.section_number ,document_id: @document.id , export_type: 'section'), :class => "btn btn-default right_button export"
          - @collections = current_user.collections
          = render 'collections/save',  locals: {save_type: 'section', section_number: section.section_number, document_id: @document.id , collections: @collections}
