%div{:class => 'save_query', :id => 'save_query_element_0'}
  %b-button{'v-b-toggle.collapse-0' => true, :variant=>"outline-dark", :class=>"", :style => "color: #212529; font-size: 1.25em; box-shadow: 0 0 0 0"}
    Add Query to Collection
    %span.when-opened
      %i.fas.fa-chevron-down
    %span.when-closed
      %i.fas.fa-chevron-right

  %b-collapse{:id=>"collapse-0", :class=>"collection_box"}
    - if @collections.length == 0
      %div{:class => ''}
        = link_to 'Create Collection', new_collection_path, :class => "btn btn-outline-dark collection_btn", :style => 'border-radius: 0px;'
    - else
      - @collections.each do |collection|
        %div{:class => ''}
          = form_tag(save_query_path, method: :post, :remote => true, :format=>:js) do
            = hidden_field_tag :query, locals[:query]
            = hidden_field_tag :collection, collection.name
            = submit_tag(value = collection.name, class: "btn btn-outline-dark collection_btn", :style => 'border-radius: 0px;')