= simple_form_for @user_ticket, defaults: { input_html: { class: 'block' } } do |f|
  - if @user_ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_ticket.errors.count, "error")} prohibited this user_ticket from being saved:"
      %ul
        - @user_ticket.errors.full_messages.each do |msg|
          %li= msg
  %h4= current_signed_in.email
  -#something about if statements doesnt work here
  - if @document_id == nil
    = f.input :link, placeholder: 'Link'
  - if @document_id != nil
    %h4
      Document reference number:
      = @document_id
  - if @section_uid != nil
    %h4
      Section reference number:
      = @section_uid
  = f.hidden_field :document_id, :value => @document_id
  = f.hidden_field :section_uid, :value => @section_uid
  = f.input :subject, placeholder: 'Subject', as: :select, include_blank: false, collection: [['meta-data error', 'meta-data error'], ['sectioning error','sectioning error'], ['document request','document request'], ['other','other']], input_html: { class: 'form-control ', style: "width: auto;" }
  = f.input :comment, placeholder: 'Comment', input_html: { class: 'comment_box block' }
  %div{:class => "actions form-action-padding"}
    = f.submit 'Save'

    -# t.string   "name"
    -# t.string   "email"
    -# t.string   "link"
    -## t.text     "comment"
    -## t.integer  "status"
    -## t.integer  "admin_id"
    -## t.datetime "created_at",     null: false
    -## t.datetime "updated_at",     null: false
    -## t.string   "subject"
    -## t.string   "section_number"
    -## t.integer  "document_id"