%div{:class => "centre"}
  - if !current_user.admin?
    = link_to 'New Ticket', new_user_ticket_path, :class => "btn btn-info"
  %h3 Listing tickets
  %div{:class => "user_tickets_grid"}

  - @user_tickets.each do |user_ticket|
    %div{:class => "ticket left"}
      %h4
        Subject:
        = user_ticket.subject
      %h4
        Status:
        = UserTicket::STATUS_TYPES[user_ticket.status]
      = link_to 'Show', user_ticket_path(user_ticket), :class => "btn btn-info special_text"
      = link_to 'Edit', edit_user_ticket_path(user_ticket), :class => "btn btn-info special_text"
      = button_to 'Delete', user_ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-warning special_text", :form_class=>'inline_style'