%div{:class => "centre"}
  %div{:class => "user_tickets_grid"}
    %h1{:class => "left"} Unmanaged Tickets
    %h1{:class => "right"} My Claimed Tickets

    %div{:class => "left"}
      - @unmanaged_user_tickets.each do |user_ticket|
        %div{:class => "ticket"}
          %h4
            Subject:
            = user_ticket.subject
          %h5
            User:
            = user_ticket.email
          %h5
            Created on:
            = user_ticket.created_at.strftime("%d/%m/%Y")
          = link_to 'Show', user_ticket_path(user_ticket), :class => "btn btn-default"
          = link_to 'Claim Ticket', claim_user_ticket_path(user_ticket), :class => "btn btn-default"
    %div{:class => "right"}
      - @open_user_tickets.each do |user_ticket|
        %div{:class => "ticket"}
          %h4
            Subject:
            = user_ticket.subject
          %h5
            User:
            = user_ticket.email
          %h5
            Created on:
            = user_ticket.created_at.strftime("%d/%m/%Y")
          = link_to 'Show', user_ticket_path(user_ticket), :class => "btn btn-default"
          = link_to 'Mark Resolved', resolve_user_ticket_path(user_ticket), :class => "btn btn-default"
