!!!
%html
  %head

    %title Seeker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity:'sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin:'anonymous'
    = csrf_meta_tags
  %body
    = include_gon(:init => true)
    -#inline style to override bootstrap
    %nav{:class=>"navbar navbar-fixed-top navbar-inverse"}
      %div{:class=>"container-fluid"}
        %div{:class=>"navbar-header"}
          = link_to 'Search', advanced_path, :class => "navbar-brand"
          %button{:type=>"button", :class=>"navbar-toggle collapsed", 'data-toggle'=>"collapse", 'data-target'=>"#bs-example-navbar-collapse-1", 'aria-expanded'=>"false"}
            %span{:class=>"sr-only"}Toggle navigation
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}

        %div{:class=>"collapse navbar-collapse", :id=>"bs-example-navbar-collapse-1"}
          %ul{:class=>"nav navbar-nav navbar-right"}
            - if user_signed_in? && current_user.admin?
              = link_to 'Documents', documents_path, :class => "navbar-brand"
              = link_to 'Users', users_path, :class => "navbar-brand"
              = link_to 'Tickets', user_tickets_path, :class => "navbar-brand"
              = link_to 'Collections', collections_path, :class => "navbar-brand"
              %li{:class=>"dropdown"}
                %a{:href=>"#", :class=>"dropdown-toggle",:style => "padding-left: 30px;", 'data-toggle'=>"dropdown", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
                  %span{:class => "fas fa-user-circle navbar-brand", :style=>"font-size: x-large;padding: 0px;color: white;height: 17px;"}
                  %span{:class=>"caret"}
                %ul{:class=>"dropdown-menu inverse-dropdown"}
                  %li
                    = link_to 'Profile', user_path(current_user), :class => "navbar-brand"
                  %li
                    = link_to  'Logout',  destroy_user_session_path, method: :delete, :class => "navbar-brand"
            - elsif user_signed_in? && !current_user.admin?
              = link_to 'Documents', documents_path, :class => "navbar-brand"
              = link_to 'Tickets', user_tickets_path, :class => "navbar-brand"
              = link_to 'Collections', collections_path, :class => "navbar-brand"
              %li{:class=>"dropdown"}
                %a{:href=>"#", :class=>"dropdown-toggle", :style => "padding-left: 30px;",'data-toggle'=>"dropdown", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
                  %span{:class => "fas fa-user-circle navbar-brand", :style=>"font-size: x-large;padding: 0px;color: white;height: 17px;"}
                  %span{:class=>"caret"}
                %ul{:class=>"dropdown-menu inverse-dropdown"}
                  %li
                    = link_to 'Profile', user_path(current_user), :class => "navbar-brand"
                  %li
                    = link_to  'Logout',  destroy_user_session_path, method: :delete, :class => "navbar-brand"
            - else
              = link_to 'Documents', documents_path, :class => "navbar-brand"
              //devise/sessions#new
              = link_to 'Login', new_user_session_path, :class => "navbar-brand", :style => "color: white;"
              //devise/registrations#new
              = link_to 'Sign Up', new_user_registration_path, :class => "navbar-brand", :style => "color: white;"


    %div{:id => "flash"}
      - if notice.present?
        = render partial: "shared/notice_banner"

    %div{:class => "grid"}

      = yield
